{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'consulta/style/geo-alt-fill.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'consulta/style/main.css' %}">
    <title>consulta por cep</title>
</head>
<body>
<div class="page-wrapper">
    <h1>consulta por cep</h1>
    <form method="get">
        <label>insira um cep</label>
        <input type="text" name="cep" value="{{ request.GET.cep }}" placeholder="digite aqui seu cep">
    </form>
    <button type="submit">buscar</button>
    {% for chave, valor in resposta_consulta.items %}
        {% if valor != None %}
            <div>{{ chave }}</div>
            <div>{{ valor }}</div>
        {% endif %}
    {% endfor %}
</div>
</body>

</html>
