<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'consulta/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'consulta/css/style.css' %}">
    <title>Document</title>
</head>
<body>
<script src="{% static 'consulta/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'consulta/js/fetch_api.js' %}"></script>
</body>
</html>